
/* font */
@font-face {
    font-family: Modulus-Bold;
    src: url(../fonts/Modulus-Bold.otf);
}
*{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,a{
    font-family: Modulus-Bold;
}

/* body */
body{
    margin: 0%;
}
.uni-padding{
    padding: 0 7%;
}
/* top bar */
#topbar{
    background-color: #576574;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
}
#tollfree{
    float: left;
    color: #ffffff;
    margin: 0%;
    margin-top: 5px;
}
#social-icon{
    float: right;   
}
.fab{
    background-color: #ffffff;
    color: #576574;
    padding: 7px;
    border-radius: 50%;
}
.fa-facebook-f{
    padding: 7px 10px;
}
.fa-whatsapp{
    padding: 7px 8px;
}
.fa-instagram{
    padding: 7px 8px;
}

/* logo bar */
#logobar img{
    width: 220px;
    margin: 5px 0px;
}

/* navbar */
#navbar{
    background-color: #54a0ff;
}
#navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 35px;
}
#navbar ul{
    margin: 0;
    padding: 0;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* poster */
#poster{
    background-image: url(../images/banner.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    }
#poster h1{
    font-size: 80px;
    text-align: center;
}
#poster p{
    text-align: center;
    font-size: 20px;
}


/* why us section */
#whysection{
    overflow: auto;
    margin-bottom: 20px;
}
.blue-heading{
    color: #2e86de;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}
.section33{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
}
.section33 h2{
    color: #54a0ff;
}
.section33 p{
    color: #576574;
    padding-top: 0px;
}

/* contact */

#contact-container{
    background-color: #2e86de;
    color: white;
    overflow: auto;
}
.section70{
    width: 70%;
    float: left;
}
.section30{
    width: 30%;
    float: right;
    text-align: center;
    padding-top: 45px;
    
}
#knowmore-btn{
    background-color: white;
    color: #54a0ff;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

/* Blog */
.section33 img{
    max-width: 100%;
}
.section33 a{
    color: #48dbfb;
    font-weight: bold;
    text-decoration: none;
    font-family: Modulus-Bold;
    font-size: 17px;
}

/* subscribe */
#subscribe-section{
    background-color: #2e86de;
    color: white;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.section50{
    width: 50%;
    float: left;
}
.section50 h2{
    font-size: 2em;
    text-align: right;
    padding-right: 50px;
}
.section50 form{
    padding-top: 25px;
}
.section50 input[type=text]{
    padding: 10px 15px;
    font-size: 15px;
    color: #54a0ff;
    margin-right: 20px;
    border: 0px;
    width: 45%;
}
.section50 input[type=submit]{
    padding: 8px 25px;
    font-size: 15px;
    color: #2e86de;
    border: 0px;
    font-family: Modulus-Bold;
}
/* footer */
#imp-link{
    background-color: #576574;
    color: white;
    overflow: auto;
}
.div33{
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;
}
.div33 h3{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
#footer-menu{
    list-style-type: none;
    padding: 0px;
}
#footer-menu li{
    padding-bottom: 10px;
}
#footer-menu li a{
    text-decoration: none;
    color: white;
}
#footer-menu-container{
    padding-left: 140px;
}


#copyright{
    background-color: #222f3e;
    text-align: center;
    color: #b4aeae;
    padding: 10px;
}

/* responsive ipad */
@media only screen and (max-width:768px){
    #navbar ul li {
        padding-right: 25px;
    }
    #poster h1 {
        font-size: 65px;
    }
    .section33 {
        padding: 0px 20px 0px 20px;
    }
    .section30 {
        padding-top: 80px;
    }
    .section50 h2 {
        text-align: center;
    }
    .section50 form {
        padding-top: 43px;
    }
    .div33 {
        padding: 25px 0px;
    }
    #footer-menu-container {
        padding-left: 38px;
    }
}

/* responsive mobile */
@media only screen and (max-width:500px){
    #tollfree {
        font-size: 14px;
        margin-top: 8px;
    }
    #poster h1 {
        font-size: 50px;
    }
    #poster{
        font-size: 15px;
    }
    #poster p {
        font-size: 16px;
    }
    .section33{
        padding: 0px;
        width: 100%;
    }
    .section70{
        width: 100%;
    }
    .section30{
        width: 100%;
    }
    .section50{
        width: 100%;
    }
    .section50 form {
        padding-top: 0px;
    }
    .div33 {
        width: 100%;
    }
    #footer-menu-container {
        padding-left: 0px;
    }
    #copyright {
        padding: 1px;
    }
    .section33 {
        padding-bottom: 10px;
        margin: 7px;
    }
    #logobar {
        text-align: center;
    }
}

/* mobile menu */
/* #navbar ul #mobile-cross, #mobile-bar{
    display: none;
}


@media only screen and (max-width:500px){
    #navbar {
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 280px;
        padding: 0px;
    }
    #navbar ul li {
        display: block;
        padding: 18px 0px;
        border-bottom: 1px solid #dacbcb;
        padding-left: 20px;
    }
    #mobile-cross {
        text-align: right;
        margin-right: 20px;
    }
    .fa-times-circle{
        font-size: 25px;
    }
    #navbar {
        left: -280px;
        transition: all 0.5s ease;
    }
    #mobile-bar{
        background-color: #2e86de;
        color: white;
        padding: 18px;
        font-size: 28px;
    }
    #navbar ul #mobile-cross, #mobile-bar{
        display: block;
    }
    
 } */

